<footer>
    <div class="center-align" id="footer-div">
      <div id="footer-top">
          <span>-<a href="#">위로</a>-</span>
      </div>
      <div class="inline-block footer-bottom-div">
          <p>|주소 : 부산광역시 OO구 OO로 OOOO-OOOO|</p>
          <p><a href="https://section.blog.naver.com">네이버 블로그</a></p>
      </div>
      <div class="inline-block footer-bottom-div">
          <p>|이메일 : BJwebgoog@gmail.com|</p>
          <p>|Copyright(c) 2020 Ssul.com|</a></p>
      </div>
    </div>
  </footer>