<header>
    <div class="center-align" id="header-div">
        <div class="inline-block" id="header-left"><a href="/"></a></div>
        <div class="inline-block" id="header-center"><a href="/">Ssul</a></div>
        <div class="inline-block" id="header-right">
            <div class="inline-block"> 
            <button id="login_btn">로그인</button> 
            <button id="sing_up_btn">회원가입</button>
            </div>
        </div>
    </div>
</header>