<!DOCTYPE html>
<html lang="eg">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ssul</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
        <div class="center-align" id="header-div">
            <div class="inline-block" id="header-left"><a href="/"></a></div>
            <div class="inline-block" id="header-center"><a href="/">Ssul</a></div>
            <div class="inline-block" id="header-right">
                <div class="inline-block">
                    <% if(session.email){ %> 
                        <button id="mypage"><a href="#">마이페이지</a></button> 
                        <button id="logout"><a href="/logout">로그아웃</a></button>
                    <% } else{ %>
                        <button id="login_btn"><a href="./login">로그인</a></button> 
                        <button id="sign_up_btn"><a href="./login/Sign_Up">회원가입</a></button>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
    <% include nav %>
    <section>
      <div class="center-align" id="section-div">
          <div class="section-div-div" id="section-main">
              <h1>베스트 썰</h1>
              <p>한여름의 무더위를 싹 날려버릴 썰들이 등장했다? 많은 유저들의 공감을 얻은 인기 게시글들이 모인 베스트 썰 게시판으로 가자!</p>
              <br><br>
              <a href="/board">[이동]</a>
          </div>
          <div class="section-div-div" id="comm">
              <div class="inline-block center-comm" id="center-comm-left">
                  <div class="center-comm-top">
                      <div class="inline-block w-50">
                          <a href="/board">최근 게시글</a>
                      </div>
                      <div class="inline-block w-50">
                          <a href="/board">[더 보기]</a>
                      </div>
                  </div>
                  <div class="center-comm-bottom">
                      <ul>
                        <% for(let post of posts) { %>
                            <li><a href="#">▷ <%= post.title %></a></li>
                        <% } %>
                      </ul>
                  </div>
              </div>
              <div class="inline-block center-comm">
                  <div class="center-comm-top">
                      <div class="inline-block w-50">
                          <a href="/board">인기 게시글</a>
                      </div>
                      <div class="inline-block w-50">
                          <a href="/board">[더 보기]</a>
                      </div>
                  </div>
                  <div class="center-comm-bottom">
                      <ul>
                        <% for(let post of posts) { %>
                            <li><a href="#">▷ <%= post.title %></a></li>
                        <% } %>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <% include footer %>
  </body>
</html>