<nav>
    <div class="center-align" id="nav-div">
        <ul id="nav-ul">
            <li><a href="#">공지사항</a></li>
            <li><a href="#">이벤트</a></li>
            <li><a href="http://localhost:3000/board/1">커뮤니티</a></li>
        </ul>
    </div>
</nav>