<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ssul</title>
        <link rel="stylesheet" href="/stylesheets/Sign_Up.css">
        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/sign.js"></script>
    </head>
    <body>
        <% include header %>
        <% include nav %>
        <section>
            <div class="center-align">
                <div id="sign-main">
                    <p style="font-size: 50px;">회 원 가 입</p>
                    <form action="/login/Sign_Up/sign_up" method="post" class="text-left" id="target" onsubmit="return submitCheck()">
                        <p>이메일 주소 <span id="email_id"></span></p>
                        <input type="email" class="form-text" placeholder="이메일" name="email" id="id" required>
                        <p>비밀번호 <span id="pwd_length"></span></p> 
                        <input type="password" class="form-text" name="password" id="pwd" onchange="isSame()" required>
                        <p>비밀번호 확인 <span id="same"></span></p>
                        <input type="password" class="form-text" name="ptest" id="pwd_test" onchange="isSame()" required>
                        <p>닉네임 <span id="nick_check"></span></p>
                        <input type="text" class="form-text" name="nickname" id="nick" required>
                        <p>전화번호</p>
                        <input type="tel" class="form-text" name="tel" required>
                        <p>지역</p>
                        <select class="form-text" id="select_form" name="area" required>
                            <option value="1" selected>서울</option>
                            <option value="2">대구</option>
                            <option value="3">부산</option>
                        </select>
                        <p>성별</p>
                        <div>
                            <input type="radio" name="gender" value="남" checked>남자
                            <input type="radio" name="gender" value="여">여자
                        </div>
                        <input type="submit" value="회원 가입 신청" id="form-button">
                    </form>
                </div>
            </div>
        </section>
    </body>
    </html>