<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ssul</title>
    <link rel="stylesheet" href="/stylesheets/write.css">
</head>
<body>
    <header>
        <div class="center-align" id="header-div">
            <div class="inline-block" id="header-left"><a href="/"></a></div>
            <div class="inline-block" id="header-center"><a href="/">Ssul</a></div>
            <div class="inline-block" id="header-right">
                <div class="inline-block">
                    <% if(session.email){ %> 
                        <button id="mypage"><a href="/mypage">마이페이지</a></button> 
                        <button id="logout"><a href="/logout">로그아웃</a></button>
                    <% } else{ %>
                        <button id="login_btn"><a href="./login">로그인</a></button> 
                        <button id="sign_up_btn"><a href="./login/Sign_Up">회원가입</a></button>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
    <% include nav %>
    <section>
        <div class="center-align">
            <div id="inner-div">
                <div id="main-top">
                    <p>게시글 목록</p>
                </div>
                <div id="title-div">
                    <form action="/board/update/<%= post.id %>?_method=PUT" method="post">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="text-align"><span>제목</span></td>
                                    <td colspan="8"><input type="text" name="inputTitle" value="<%= post.title %>" class="w100"></td>
                                </tr>
                                <tr>
                                    <td class="text-align"><span>작성자</span></td>
                                    <td colspan="8"><input type="text" name="inputWriter" value="<%= post.writer %>" class="w100" readonly></td>
                                </tr> 
                                <tr>
                                    <td class="text-align"><span>내용</span></td>
                                    <td colspan="8"><textarea name="content" class="w100" rows="10"><%= post.content %></textarea></td>
                                </tr> 
                            </tbody>
                        </table>
                        <input type="submit" value="수정" id="submit-btn">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        var sign_up = document.getElementById('sign_up_btn');
        var login = document.getElementById('login_btn');
        var write_btn = document.getElementById('write-btn');
        sign_up.addEventListener('click', function(event){
            location.href='../login/Sign_Up';
        });
        login.addEventListener('click', function(event){
            location.href='../login';
        });
        write_btn.addEventListener('click', function(event){
            location.href='./board/write';
        })
    </script>
</body>
</html>