<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ssul</title>
    <link rel="stylesheet" href="/stylesheets/write.css">
</head>
<body>
    <header>
        <div class="center-align" id="header-div">
            <div class="inline-block" id="header-left"><a href="/"></a></div>
            <div class="inline-block" id="header-center"><a href="/">Ssul</a></div>
            <div class="inline-block" id="header-right">
                <div class="inline-block">
                    <ul class="dropdown">
                        <button class="dropbtn" id="login_btn"><%=session[0]%>님▼</button>
                        <li class="dropdown-content">
                            <ul>
                                <li><a href="/mypage">회원정보 수정</a></li>
                                <li><a href="#">회원탈퇴</a></li>
                            </ul>
                        </li>
                    </ul>
                    <button id="logout"><a href="/logout">로그아웃</a></button>
                </div>
            </div>
        </div>
    </header>
    <% include nav %>
    <section>
        <div class="center-align">
            <div id="inner-div">
                <div id="main-top">
                    <p>게시글 목록</p>
                </div>
                <div id="title-div">
                    <form action="/board/write" method="post">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="text-align"><span>제목</span></td>
                                    <td colspan="8"><input type="text" name="inputTitle" placeholder="제목을 입력하세요." class="w100"></td>
                                </tr>
                                <tr>
                                    <td class="text-align"><span>작성자</span></td>
                                    <td colspan="8"><input type="text" name="inputWriter" value="<%= nick %>" class="w100" readonly></td>
                                </tr> 
                                <tr>
                                    <td class="text-align"><span>내용</span></td>
                                    <td colspan="8"><textarea name="content" class="w100" rows="10" placeholder="내용을 입력하세요"></textarea></td>
                                </tr> 
                            </tbody>
                        </table>
                        <input type="submit" value="저장" id="submit-btn">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>