* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}
ul, li{
    margin: 0 5px;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color:black;
}
.inline-block{
    display: inline-block;
}
.center-align {
    margin : 0 auto;
    width: 1300px;
}
#header-div{
    height: 100px;
    line-height: 100px;
}
#header-div > div{
    vertical-align: middle;
    width: calc(100% / 3);
    float: left;
    height: 100px;
}
#header-left{
    padding: 10px 0;
    height: 100%;
}
#header-center{
    text-align: center;
    font-size: 60px;
}
#header-right{
    text-align: end;
}
#header-right div{
    padding-top: 37px;
}
#nav-div{
    height: 60px;
    border-bottom: 1px solid #E6E6E6;
}
#nav-div > ul {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}
/* section */
#login-p {
    font-size: 50px;
    padding: 0;
    margin: 20px 0 40px;
}
#sign-main{
    margin: 50px 400px;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #E6E6E6;
}
.form-text{
    width: 458px;
    font-size: 15px;
    padding: 10px 10px;
    margin-bottom: 40px;
}
#form-button{
    margin-top: 20px;
    width: 458px;
    height: 60px;
    font-size: 18px;
    color: white;
    padding: 10px 0;
    background: #5882FA;
    border: none;
}
/* footer */
#footer-div{
    height: 127px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #E6E6E6;
}
#comm{
    margin: 20px 0;
}

/*secession*/
#logout{
    padding: 3px 5px;
}
.dropbtn {
    background-color: #E6E6E6;
    padding: 4px 30px;
    color: black;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    top: 31px;
    width: 100%;
    display: none;
    position: absolute;
    text-align: center;
    margin: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content > ul li{
    display: block; 
}

.dropdown-content a {
    font-size: 13px;
    height: 30px;
    color: black;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: block;
}  
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #424242; color:white}